* {
    margin: 0;
    padding: 0;
  }
  
  img {
    padding-bottom: 10px;
    margin-left: 20px;
  }
  
  .menu {
    height: 50px;
    background-color: #226af0;
    font-family: Roboto;
    box-shadow: 0px 0px 100px 5px;
    display: flex;
    width: 100%;
    padding-top: 20px;
    
  }
  
  .menu h1 {
    font-size: 18px;
    text-align: left;
    padding: 12.5px 0 12.5px 12.5px;
    color: rgb(24, 23, 23);
    width: 0;
  }
  
  .menu ul {
    margin: 0 auto;
  }
  
  .menu ul li ul {
    width: 100%;
  }
  
  .menu ul li {
    display: inline-block;
    width: 150px;
    padding: 0px 10px;
    line-height: 25px;
    padding: 0;
    position: relative;
  }
  
  .menu ul li a {
    text-align: center;
    font-size: 16px;
  }
  
  .menu a {
    padding: 2px;
    
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    

  }
  
  .menu ul ul {
    background-color: black;
    position: absolute;
    opacity: 0;
    transition: all 500ms;
  }
  
  .menu ul ul li {
    float: none;
    border-bottom: solid 1px #2f333a;
  }
  
  .menu ul li:hover ul {
    opacity: 1;
  }
  
  .menu ul ul a:hover {
    transition: all 0.4s ease;
    background-color: #96979e;
    color: white;
  }
  
  .menu a:hover {
    transition: all 0.4s ease;
    color: white;
  }
  
  .menu ul ul li {
    background-color: #37373a;
  }
  
  .menu ul ul a {
    font-size: 17px;
  }
  
  .menu ul ul li a:hover ul ul ul {
    visibility: visible;
  }
  
  /* Apenas para a resposta */
  nav {
    margin-bottom: 10.0rem;
  }

  table {
    width: 100%;
    margin: auto;
    padding: 60px;
    padding-top: 0;
    
    
  }

  thead {
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(124, 191, 236);
  }
    
 

  tr, td, th {
    padding: 5px;
    border: 1px solid black;
  }

  footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #226af0;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    color: black;
  }

 
 footer a:hover {
  color: white;
  text-decoration:underline;
 }