@charset "UTF-8";

/* VERSÃO MOBILE */

:root {
  --cor01:#188FD9;
  --cor02:#4BB2F2;
  --cor03:#72C1F2;
  --cor04:#9BD1F2;
  --cor05:#D5E5F2; 
}


@media only screen and (max-width: 460px) {
    
   * {
    margin: 0px;
    padding: 0px;
    
   }

 .pag01#princ {
    
      background-color: var(--cor04);
      list-style-type: disc;
      width: auto;
      margin:0px;
      border: 1px solid black;
      box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.61);
     
    }

    h1.reuniao {
      font-size: 1.4em;
    }

    .confo-sis {
      font-size: 0.9em;
    }

   .pag {
    
    display: block;
    width: auto;
    margin-left: 0px;
    padding: auto;
   }

  .pag > h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
   }

   .pag > p {
    padding-top: 0px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    
   }

   /* Lei de confidencialidade da aba de info */
   
   .artigo {
    background-color: var(--cor03);
    border: 1px solid black;
    padding: 5px;
    margin: 10px 5px;
    font-size: 1em;
   }

   #font {
    font-size: 0.9em;
   }
  

   footer {
    width: auto;
    margin-top: 10px;
   }

/* ----------------  TESTE  -------------------  */

/* Estilos básicos para o menu */
.menu {
  
  background-image: linear-gradient(to left, white,var(--cor01));
  color: #fff;
 
}

.menu ul li a {
  padding: 4px;
  margin-right:-5px ;
}

/* Estilos para a imagem do logo */
.menu img {
  display: block;
  left: 80%;
  
}

/* Estilos para o ícone do menu hamburguer */
#burguerindex {
  
  display: block;
  padding: 10px;
}

/* Estilos para o menu principal */
#itens {
  display: none;
}

/* Estilos para os itens do menu */
#itens ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  
}

#itens ul li {
  border-bottom: 1px solid #fff;
}

#itens ul li a {
  display: block;
  padding: 9px;
}

/* Estilos para o menu expandido */
#itens.expandido {
  display: block;
}

table {
  width: 350px;
  margin: 40px auto;
  
}

/* Formulário de troca */

.form_troca {
  width: 330px;
  margin: auto;

}
/* textos na pagina de informações */
aside#regras {
  margin-left: -5px;
}

/* Botão de download */

.btndown {
  width: 60px ;
  right:10%;
  
}

.down > p {
  font-size: 0.9em;
  
}

.h3tutorial {
  text-align: center;
  background-color: var(--cor02);
  margin-top: 50px;
  font-size: 1.5em;
  margin-left: -20px;
  padding: 20px;
  width: 100%;
  
  
}

video {
  display: block;
  width: 100%;
  margin-top: -80px;
  margin-left: -10px;
  
}

}



/* ------------------------- outro teste -------------------------  */

@media (min-width: 768px) {
  /* Estilos para telas maiores */
  #itens {
    display: block;
  }
  
  #burguerindex {
    display: none;
  }
}
