@charset "UTF-8";


@media only screen and (max-width: 480px) {
    
   * {
    margin: 0px;
    padding: 0px;
   }
    
    .menu {
      display:flex;
      flex-direction: column;
      align-items:center;
      color:white;
      
      
     
    }
    .menu img {
      margin-bottom: 10px;
      position:relative;
      background-repeat: repeat-y;
      
    }
    .menu ul {
      display: flex;
      flex-direction: column;
      text-align:center;
      width: 98vw;
      list-style-type: none;
      
      
      
    }
    
    .menu li {
      width: 100vw;
      position: relative;
      margin-left: -3px;
      
    
      
    }
   
   .pag {
    width: 92vw;
    margin-left: -30px;
   }

   .pag > h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
   }

   .pag > p {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
   }

   footer {
    width: auto;
    margin-top: 10px;
   }

   #itens {
   margin-right: 72px;
   
   }

   span#burguer {
    background-color: var(--cor01);
    padding: 10px 182px;
    cursor: pointer;
    
   }

   menu > ul > li > a {
    
    padding-left: 180px 180px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor01);
    color: white; 
    border-top: 2px solid var(--cor03);

  }

  .menu ul li a {
    padding: 5px 180px 5px 180px;
   
    
  }

 



}