* {
  margin: 0px;
  padding: 0px;
  
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(to left, #188fd95e,#72c1f248);
  
 

}
:root {
  --cor01:#188FD9;
  --cor02:#4BB2F2;
  --cor03:#72C1F2;
  --cor04:#9BD1F2;
  --cor05:#D5E5F2; 
}

caption {
  padding: 10px;
  font-weight: bold;
  background-image: linear-gradient(to right,rgb(192, 202, 224),rgba(29, 112, 207, 0.719));
  border: 1px solid black;
  color:white;
  text-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 6px black;
}

.menu img {
  width:70px;
  height:40px;
  position: absolute;
  
  margin-top: px;
}

.menu ul {
  background-color: var(--cor01);
  margin-left: 70px;
  
  display:flex;
  
  
  
}

.menu ul li {
  display: inline;
  position:relative ;
  font-size: 15px;
  text-align: center;
}

.menu ul li a {
  color: var(--cor05);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  text-align: center;
  
  
  
}



.menu ul li a:hover {
  
  background-color: var(--cor02);
  width: 100%;
  box-sizing: border-box;
  
}

/* Sub menu */

.menu ul ul{
 display: none;
 position: absolute; 
 opacity: 0;
 
 
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  columns: 2;
  right:0;
  opacity: 1;
}

#burguerindex {
  display: none;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
  min-width: 200PX;
  max-width: 900PX;
  box-shadow: 2px 2px 6px black;
 
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

tbody tr:nth-child(2n) {
  background-color: var(--cor05);
}

thead th {
  border: 1px solid black;
  padding: 10px;
  background-color: var(--cor04);
}


.pag {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 5px;
  background-color: var(--cor05);
  padding: 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.644);
  width: 60%;
  
}

.pag01#princ {
  background-color:var(--cor04);
  list-style-type:square;
  padding-left: 50px;
  margin: 30px;
  border: 1px solid black;
  box-shadow: 1px 2px 8px black;
  
  
  
}

.pag01 li {
  margin: 10px;
  padding: 10px;
}


/* Lei de confidencialidade da aba info */

.artigo {
  background-color: var(--cor03);
  border: 1px solid black;
  padding: 5px;
  margin: 20px 5px;
  font-size: 1em;
 }

 #font {
  font-size: 0.9em;
 }



.reuniao {
  text-align: center;
  margin-top: 50px;
}

.pag p {
  margin: 10px;
  
  
}

.confo-sis, .responsabilidades {
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
  
  
}

.confo-sis ul {
  margin-top: 50px;
}

.tecpres {
  margin-top: 10px;
  list-style-position:inside;
}

aside {
  margin-top: -30px;
  
}

aside ol {
  padding: 8px;
  text-decoration: underline;
  background-color: var(--cor04);
  box-shadow: 1px 2px 7px black;
}

aside ul li  {
  margin-top: 10px;
  list-style-position:inside;
}


.btndown {
  margin-top: -8px;
  width: 100px;
  height: 40px;
  background-color: rgba(29, 112, 207, 0.719);
  color: white;
  position: absolute;
  right: 90px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 9pt;
  right: 15%;
  

}

.btndown:hover {
  background-color: var(--cor04);
  transition: .5s;
  border-color: var(--cor01);
  color: #188FD9;
  position: absolute;
  
}

.down {
  
  width: 70%;
  margin: 30px auto;
  padding-bottom: 5px;
  background-color: var(--cor05);
  padding: 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.644);

   
}

.troca {
  text-align: center;
  margin: 50px;
  
}

.rts {
  background-color: #188FD9;
  padding: 5px;
  margin-top: 50px;
  
  
}

form {
  font-family: Verdana,Tahoma,sans-serif;
  font-size: 15px;
  background-color: var(--cor02);
  max-width: 700px;
  padding: 30px;
  border-radius: 25px;
  margin: auto;
 
}

/*-----------------------------------------------------------*/

.form_troca {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  
}

.form_troca input[type="text"],
.form_troca input[type="email"],
.form_troca input[type="tel"],
.form_troca input[type="date"],
.form_troca select,
.form_troca textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  margin-left: -2px;
}

.form_troca label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.815);
  color: white;
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  text-align: center;
}

.btnenv {
  text-align: center;
  margin-top: 20px;
  display: flex;
}

.enviar {
  padding: 10px 20px;
  background-color: var(--cor01);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-left: 5px;
  display: block;
  
}

.enviar:hover {
  background-color:var(--cor04);
}

footer {
  
  margin-top: 40px;
  background-color: var(--cor03);
  padding: 13px;
  text-align: center;
  clear: both;
  width: 100;
 
  
}

.grid-container {   /* DIV do grid da aba escala */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top:50px;
  margin-bottom: 30px;
  justify-items: center;
  align-items: center; 
  
}

.grid-container a {
  text-decoration: none;
  color: inherit;
}

.grid-item {   /*  DIV de cada item da aba escala */
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  background-color: var(--cor02);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.548);

}

.grid-item {
  padding: 25px;
  
}

.grid-item:hover {
  background-color: var(--cor04);
  transition: 0.1s;
}

video {
  width: 100%;
  height: 350px;
  padding: 10px;
  display: block;
  margin: auto;
}

.tutoriais .fonte, .pag .fonte {
  text-align: center;
  
}

.tutoriais .fonte a, .pag .fonte a {
  text-decoration: none;
}

.h3tutorial {
  text-align: center;
  background-color: var(--cor02);
  margin-top: 20px;
  font-size: 1.5em;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.697);
  
}









